@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Penny Pouch</h1>
    
</div>

<div class="container">
    <section class="products">
        <div class="product">
            <img src="~/Images/img2.jpg" alt="Product 1" >
            <h2>RFID Wallets</h2>
            <p>$34.99</p>
        </div>
        <div class="product">
            <img src="~/Images/img1.jpg" alt="Product 2">
            <h2>Black Leathor Wallet</h2>
            <p>$19.99</p>
        </div>
        <div class="product">
            <img src="~/Images/img3.jpg" alt="Product 3">
            <h2>Casual Wallet for Men</h2>
            <p>$24.99</p>
        </div>
        <div class="product">
            <img src="~/Images/img4.jpg" alt="Product 4">
            <h2>Ingram Magnetic Multicard	</h2>
            <p>$75.00</p>
        </div>
        <div class="product">
            <img src="~/Images/img5.jpg" alt="Product 5">
            <h2>Slim RFID Wallet</h2>
            <p>$69.99</p>
        </div>
        <div class="product">
            <img src="~/Images/img6.jpg" alt="Product 6">
            <h2>Minimalist Metal Wallet</h2>
            <p>$21.99</p>
        </div>
    </section>
</div>

<style>
    /*CSS styling....*/

    html {
        
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body {
        background-color: #F2EAD3;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .product {
        border: 1px solid black;
        padding: 20px;
        margin: 10px;
        text-align: center;
    }

        .product img {
            border-radius: 10px;
            width: 100%; 
            max-height: 550px;
            object-fit: cover;
        }

        .product h2 {
            margin-top: 10px;
            font-size: 30px;
        }

        .product p {
            color: #888;
        }


        .product:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
</style>